* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #03045e;
}
.container {
  background-color: #3ab795;
  border-radius: 15px;
  height: 80vh;
  width: 80%;
  box-shadow: 0 0 10px #86baa11a;
  border: 1px solid #000;
}
.header {
  background-color: #023e8a;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ade8f4;
  text-align: center;
  padding: 15px;
  color: #000;
  border: #000 1px solid;
}

tr:nth-child(even) {
  background-color: #ade8f4;
}
.title-container {
  background-color: #ade8f4;
}
